 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

a {
    color: #fff;
}
.logo{
    background-color: #1E3A8A;

}
.home{
    position: absolute;
    left: 250px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
    text-decoration: none;
    list-style:none ;
}

.cursos{
    position: absolute;
    left: 450px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
    text-decoration: none
}

.depoimentos{
    position: absolute;
    left: 650px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
}

.blog{
    position: absolute;
    left: 850px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
    text-decoration: none;
}

.contato{
    position: absolute;
    left: 1050px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
}

.num{
    background-color: #c7d5ff;
    height: 400px;
}

.h31{
    position: absolute;
    top: 250px;
    left: 90px;
    font-size: 22px;
    font-family: "Roboto";
}

.aluno{
    position: absolute;
    left: 500px;
    margin-top: 25px;
}

.botao1{
    position:absolute;
    left: 1200px;
    margin-top: 170px;
    background-color: #FB923C;
    font-size: 22px;
    padding: 15px;
    font-style: italic;
}


.nois{
    background-color: #F3F4F6;
    height: 550px;
}

.h32{
    position: absolute;
    top: 550px;
    left: 90px;
    font-size: 22px;
    font-family: "Roboto";
}


.sala{
    position: absolute;
    left: 500px;
    margin-top: 100px;
}

.text1{
    position: absolute;
    top: 920px;
    left: 530px;
    font-size: 18px;
    font-family: "Roboto";
}

.nes{
    background-color: rgb(255, 255, 255);
    height:300px;
}

.h33{
    position: absolute;
    top: 1120px;
    left: 90px;
    font-size: 22px;
    font-family: "Roboto";
}

.band1{
    position: absolute;
    left: 400px;
    margin-top: 100px;
    box-shadow: 100px;
}

.band2{
    position: absolute;
    left: 600px;
    margin-top: 100px;
}

.band3{
    position: absolute;
    left: 800px;
    margin-top: 100px;
}

.ing{
    position: absolute;
    left: 425px;
    margin-top: 190px;    
}

.esp{
    position: absolute;
    left: 607px;
    margin-top: 190px;    
}

.fran{
    position: absolute;
    left: 805px;
    margin-top: 190px;    
}


.natro{
    background-color: #F3F4F6;
    height: 550px;
}

.botao2{
    position:absolute;
    left: 1200px;
    margin-top: 140px;
    background-color: #FB923C;
    font-size: 22px;
    padding: 15px;
    font-style: italic;
}

.h34{
    position: absolute;
    top: 1400px;
    left: 90px;
    font-size: 22px;
    font-family: "Roboto";
}

.ana{
    position: absolute;
    left: 250px;
    top: 1550px;
    background-color: #DAE3FF;
    padding: 25px;
}

.carlos{
    position: absolute;
    left: 720px;
    top: 1550px;
    background-color: #DAE3FF;
    padding: 25px;
}

.botao3{
    position:absolute;
    left: 1200px;
    margin-top: 250px;
    background-color: #FB923C;
    font-size: 22px;
    padding: 15px;
    font-style: italic;
}

.blog1{
    background-color: #ffffff;
    height: 550px;    
}

.h35{
    position: absolute;
    top: 1950px;
    left: 90px;
    font-size: 22px;
    font-family: "Roboto";
}

.img2{
    position: absolute;
    padding: 20px;
    padding-bottom: 45px;
    background-color: #FB923C;
    left: 750px;
    margin-top: 65px;
}

.lege{
    position: absolute;
    left: 810px;
    margin-top: 320px;    
    font-style: italic;
}

.ctt1{
    background-color: #F3F4F6;
    height: 550px;    
}

.h36{
    position: absolute;
    top: 2550px;
    left: 90px;
    font-size: 22px;
    font-family: "Roboto";   
}

.wpp{
    position: absolute;
    left: 90px;
    margin-top: 200px;    
}

.insta{
    position: absolute;
    left: 600px;
    margin-top: 200px;    
}

.wpp1{
    position: absolute;
    left: 210px;
    margin-top: 240px;    
}

.insta1{
    position: absolute;
    left: 720px;
    margin-top: 250px;    
}

.logo{
    background-color: #1E3A8A;

}
.home{
    position: absolute;
    left: 250px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
}

.cursos{
    position: absolute;
    left: 450px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
}

.depoimentos{
    position: absolute;
    left: 650px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
}

.blog{
    position: absolute;
    left: 850px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
}

.contato{
    position: absolute;
    left: 1050px;
    margin-top: -60px;
    color: rgb(252, 252, 252);
}

.cing1{
    position: absolute;
    top: 130px;
    left: 480px;
    font-size: 22px;
    font-family: "Roboto";   
}

.cing2{
    position: absolute;
    padding: 20px;
    padding-bottom: 55px;
    background-color: #ebdccf;
    right: 550px;
    margin-top: 200px;
}

.cing3{
    position: absolute;
    margin-top: 460px;   
    left: -260px; 
}

.cing4{
    position: absolute;
    margin-top: 60px; 
    display: inline-block;  
}

.cing5{
    position: absolute;
    margin-top: 85px;   
    right: 750px;
}

.cing6{
    position: absolute;
    margin-top: 60px;   
    right: 850px;
}

.cing7{
    position: absolute;
    padding: 20px;
    padding-bottom: 55px;
    background-color: #ebdccf;
    right: 100px;
    margin-top: 200px;
}

.cing8{
    position: absolute;
    margin-top: 460px;   
    right: 200px;
}

.cing9{
    position: absolute;
    padding: 20px;
    padding-bottom: 55px;
    background-color: #ebdccf;
    left: 550px;
    margin-top: 200px;
}

.cing10{
    position: absolute;
    margin-top: 460px;   
    right: -260px;
}

.cing2:hover{
    background-color:  #b0a295;
}

.cing7:hover{
    background-color:  #b0a295;
}



.cing9:hover{
    background-color:  #b0a295;
}

.espl5{
    position: absolute;
    margin-top: 800px;   
    left: 200px;
}

.espl6{ 
    position: absolute;
    margin-top: 770px;   
    left: 70px;
}

.espl2{
    position: absolute;
    padding: 20px;
    padding-bottom: 55px;
    background-color: #ebdccf;
    right: 1080px;
    margin-top: 900px;
}


.espl7{
    position: absolute;
    padding: 20px;
    padding-bottom: 55px;
    background-color: #ebdccf;
    right: 600px;
    margin-top: 897px;
}

.espl9{
    position: absolute;
    padding: 20px;
    padding-bottom: 55px;
    background-color: #ebdccf;
    right: 150px;
    margin-top: 897px;
}

.espl9 p{
    font-size: 23px;
    text-align: center;
}

.espl7{
    font-size: 23px;
    text-align: center;
}

.espl2{
    font-size: 23px;
    text-align: center;
}

.espl5{
    font-size: 24px;
}


{
    position: absolute;
    width: 100%;
    bottom: -109%;
}

.int{
    position: absolute;
    width: 100%;
    bottom: -109%;
}


.espl2:hover{
    background-color:  #b0a295;
}
.espl7:hover{
    background-color:  #b0a295;
}

.espl9:hover{
    background-color:  #b0a295;
}

form label, form input, form button{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
}

form button{
    padding: 5px;
    background-color:#1E3A8A;
    color: white;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: butao 10s linear;
    animation-duration: infinite;
}

form{
    width: 70%;
    background-color: orange;
    margin: 70px auto;
    border: 1px solid black;
    border-radius: 10px;
}

.ctt1 h5{
    font-size: 40px;
    text-align: center;
}

.ctt1 p{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

@keyframes butao {
    0%{background-color: #1E3A8A;}
    25%{background-color: #c7d5ff;}
    50%{background-color: #1E3A8A;}
    75%{background-color: #c7d5ff;}
    100%{background-color: #1E3A8A;}
}